@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
}
.navbar {
  background-color: rgb(113, 60, 162);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 120px;
  padding: 20px;
  border-radius: 8px;
}

.logo {
  color: white;
  font-weight: 800;
}

.nav-link a {
  color: white;
  text-decoration: none;
  margin-right: 18px;
  font-size: 20px;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #773fad;
  color: white;
  transition: 0.3s;
}

#banner-container {
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url(../images/Banner\ Image.png);
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content .sub-title {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

.banner-content .title {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
}

.text-content .off-title {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 70px;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 48px;
}

.text-content .holiday {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

.text-content .catagories {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}

.text-content img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 120px;
}

.midnight-party-container {
  border-radius: 16px;
  width: 1320px;
  height: 600px;
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url(../images/Vectorrr.png);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.midnight-content .title {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
  margin: 126px 0 24px 126px;
}

.midnight-content .sub-title {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 126px;
  margin-right: 40px;
  margin-bottom: 48px;
}

.midnight-content .btn-join {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 158px;
}

.midnight-party-container .img-2024 {
  margin: 65px 138px 65px 0;
}

.vanue-content {
  border-radius: 16px;
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  margin-top: 220px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}

.place-date-time h4 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  padding-top: 100px;
  margin-bottom: 48px;
}

.place-date-time .color-red {
  color: red;
}

.vanue-content .btn-join-now {
  border-radius: 8px;
  padding: 16px 32px 16px 32px;
  border: none;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin: 0 575px 0 575px;
  cursor: pointer;
}

.vanue-content .btn-join-now:hover {
  color: black;
  transition: 0.3s;
}

.comming-soon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1320px;
  height: 462px;
  margin: 0 auto;
}

.comming-soon .content-left {
  margin-top: 90px;
}

.content-left .left-subtitle {
  color: #f00;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.content-left .left-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.content-left .left-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.content-center {
  border-radius: 463px;
  border: 10px solid #f00;
  margin: 120px 118px 120px 70px;
  padding: 40px;
}

.content-right .right-title {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
  margin-top: 232px;
}

.content-right .right-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 46px;
}

.holiday-sales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 140px 0 140px;
}

.holiday-subtitle {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 122px;
  margin-bottom: 16px;
}

.holiday-title {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 28px;
}

.holiday-title .off {
  color: red;
}

.holiday-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 266px 64px 266px;
}

.img-content {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
  margin-bottom: -220px;
}

.img-content .discount-off {
  margin-top: -70px;
}

.background-img-red {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.photo-container {
  width: 90%;
  margin: 0 140px 0 205px;
  gap: 10px;
}

.photo-container img {
  max-width: 400px;
}

.text-title-content {
  margin-left: 200px;
}

.text-title-content .sub-title {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 120px;
}
.text-title-content .title {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.text-title-content .description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
  margin-right: 350px;
}

.newslatter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1320px;
  height: 616px;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 120px;
  background-color: rgba(255, 0, 0, 0.05);
  margin-bottom: 120px;
}

.news-content {
  width: 896px;
  height: 336px;
  margin-top: -100px;
}

.news-content img {
  width: 150px;
  height: 150px;
  margin-left: 373px;
  margin-bottom: 40px;
}

.news-content .title {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.news-content .sub-title {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}

.news-content .input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.news-content .input-button input {
  border: none;
  padding: 29px 0;
  padding-left: 20px;
  background-color: white;
  border-radius: 50px 0 0 50px;
  width: 515px;
}
::placeholder {
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}
.news-content .input-button .subscribe {
  padding: 25px 0;
  background-color: red;
  color: white;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0 50px 50px 0;
  width: 150px;

  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.news-content .input-button .subscribe:hover {
  background-color: rgb(255, 16, 16);
  color: black;
  transition: 0.3s;
}

footer {
  width: 100%;
  height: 609px;
  background-color: black;
}
.footer-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 120px;
}

.footer-flex .left-side {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer-flex .right-side {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.right-side img {
  width: 24px;
  height: 24px;
  padding-right: 10px;
}
